pymongo
groq
langchain
langchain-community
langchain-groq
langgraph
pypdf
PyMuPDF
sentence-transformers
transformers
PyYAML
pandas
python-dotenv
pydantic
fastapi
uvicorn[standard]
motor
langsmith
langchain-core
langgraph